<div *ngIf="(product$ | async) as product">
  <div>
    <img [src]="product.image" alt="">
  </div>
  <div>
    <ul>
      <li>Nombre: {{ product.title }}</li>
      <li>Precio: {{ product.price | currency }}</li>
    </ul>
    <p>{{ product.description }}</p>
  </div>
  <button (click)="createProduct()">Crear</button>
  <button (click)="updateProduct()">Update</button>
  <button (click)="deleteProduct()">Delete</button>
  <button (click)="getRandomUsers()">Get random people</button>
  <button (click)="getFile()">Get file</button>
</div>
