/* You can add global styles to this file, and also import other style files */
/* body{
    margin: 0;
    padding: 0;
}
 */
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px 20px;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    width: 100%;
    padding-right: 0px;
    padding-left: 9px;
    margin-right: auto;
    margin-left: auto;
}
@media(min-width: 576px){
    .container{
        max-width: 1110px;
        padding-right: 16px;
        padding-left: 16px;
    }
}